.similar-jobs-job-details-card {
  background-color: #272727;
  border-radius: 15px;
  list-style: none;
  color: #ffffff;
  margin-top: 10px;
  padding: 30px;
  margin-bottom: 40px;
  list-style: none;
}
.similar-jobs-title-heading {
  font-family: 'Roboto';
  font-size: 20px;
  margin-bottom: 4px;
}
.similar-jobs-rating {
  font-family: 'Roboto';
  font-size: 18px;
  margin-left: 5px;
  margin-right: 20px;
}
.similar-jobs-company-logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.similar-jobs-company-rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.similar-jobs-package-location-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
